<div class="meeta-footer-section meeta-footer-2">

    <!-- Footer Widget Start -->
    <div class="footer-widget">
        <div class="container">

            <div class="footer-wrap">
                <div class="row">

                    <div class="col-lg-3">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/images/logo-white.png" alt="Logo"></a>
                        </div>
                        <!-- Footer Logo End -->
                    </div>

                    <div class="col-lg-9">
                        <!-- Footer Newsletter Start -->
                        <div class="footer-newsletter">

                            <div class="footer-newsletter-form">
<!--                                <form action="#">-->
<!--                                    <input type="text" placeholder="Your Email">-->
<!--                                    <button class="btn btn-primary">Subscribe</button>-->
<!--                                </form>-->
                            </div>
                        </div>
                        <!-- Footer Newsletter End -->

                        <div class="footer-bottom-wrap">
                            <div class="row">
                                <div class="col-md-5">
                                    <!-- Footer Info Start -->
                                    <div class="footer-info">
                                        <h3 class="title">Event Details</h3>
                                        <span class="date">29 - 30 September 2023 </span>
                                        <p>Contact: +33 6 05 88 60 72  <span>Email: </span> infos@mkutano.org </p>
                                        <p>Douala, Cameroon</p>
                                        <div class="footer-widget-social">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-dribbble"></i></a>
                                            <a href="#"><i class="fab fa-behance"></i></a>
                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                        </div>
                                        <!-- Footer Info End -->
                                    </div>
                                </div>

                                <div class="col-md-7">
                                    <!-- Footer widget Map Start -->
                                    <div class="footer-widget-map">
                                        <iframe src="https://maps.google.com/maps?q=New%20York%20University%20&t=m&z=10&output=embed&iwloc=near" title="New York University" aria-label="New York University"></iframe>
                                    </div>
                                    <!-- Footer widget Map End -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copyright text-center">
<!--                <p>2022 Copyright Meeta Designed by Pixelcurve. All Rights Reserved</p>-->
              <p>Contact: +33 6 05 88 60 72  <span>Email:</span>infos@mkutano.org </p>
            </div>

        </div>
    </div>
    <!-- Footer Widget End -->

</div>
