<div class="meeta-header-section meeta-header-2">

    <!-- Header Middle Start -->
    <div class="header-middle header-sticky">
        <div class="container">

            <div class="header-wrap">
                <!-- Header Logo Start -->
                <div class="header-logo">
                    <a href="index.html"><img src="assets/images/logo-4.png" alt="Logo"></a>
                </div>
                <!-- Header Logo End -->

                <!-- Header Navigation Start -->
                <div class="header-navigation d-none d-lg-block">
                    <ul class="main-menu">
                        <li><a routerLink="/home" routerLinkActive="activate-link">Home</a></li>
                        <li><a routerLink="/about" routerLinkActive="activate-link">About</a></li>
                        <li><a routerLink="/hackathon" routerLinkActive="activate-link">Hackathon</a></li>
                        <li><a routerLink="/faq" routerLinkActive="activate-link">FAQ</a></li>
                        <li><a routerLink="/contact" routerLinkActive="activate-link">Contact</a></li>
                    </ul>
                </div>
                <!-- Header Navigation End -->

                <!-- Header Meta Start -->
                <div class="header-meta">

                    <div class="header-btn d-none d-md-block">
                        <a href="price.html" class="btn btn-primary">Buy Ticket Now</a>
                    </div>

                    <!-- Header Toggle Start -->
                    <div class="header-toggle d-lg-none">
                        <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                    <!-- Header Toggle End -->

                </div>
                <!-- Header Meta End -->

            </div>

        </div>
    </div>
    <!-- Header Middle End -->

</div>