        <!-- Mini Cart Start -->
        <div class="off-canvas">
            <div class="icon-close"></div>

            <!-- Mini Cart Box Start -->
            <div class="meeta-mini-cart-box">

                <div class="mini-cart-items">

                    <div class="mini-cart-item">
                        <div class="mini-cart-item-image">
                            <a href="#"><img src="assets/images/cart/cart-1.jpg" alt="Cart"></a>
                        </div>
                        <div class="mini-cart-item-content">
                            <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden Livestream </a></h4>
                            <p class="mini-cart-quantity">1 × $19.99</p>
                        </div>
                        <button class="btn-close"></button>
                    </div>

                    <div class="mini-cart-item">
                        <div class="mini-cart-item-image">
                            <a href="#"><img src="assets/images/cart/cart-2.jpg" alt="Cart"></a>
                        </div>
                        <div class="mini-cart-item-content">
                            <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden Livestream </a></h4>
                            <p class="mini-cart-quantity">1 × $19.99</p>
                        </div>
                        <button class="btn-close"></button>
                    </div>

                    <div class="mini-cart-item">
                        <div class="mini-cart-item-image">
                            <a href="#"><img src="assets/images/cart/cart-3.jpg" alt="Cart"></a>
                        </div>
                        <div class="mini-cart-item-content">
                            <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden Livestream </a></h4>
                            <p class="mini-cart-quantity">1 × $19.99</p>
                        </div>
                        <button class="btn-close"></button>
                    </div>

                </div>

                <div class="mini-cart-sub-total">
                    <p><strong>Subtotal:</strong> <span class="mini-cart-amount">$99.97</span></p>
                </div>
                <div class="mini-cart-sub-btn">
                    <a class="btn btn-primary" href="#">View cart</a>
                    <a class="btn btn-white" href="#">Checkout</a>
                </div>
            </div>
            <!-- Mini Cart Box End -->

        </div>
        <!-- Mini Cart End -->


        <!-- Offcanvas Start-->
        <div class="offcanvas offcanvas-start" id="offcanvasExample">
            <div class="offcanvas-header">
                <!-- Offcanvas Logo Start -->
                <div class="offcanvas-logo">
                    <a href="index.html"><img src="assets/images/logo-4.png" alt=""></a>
                </div>
                <!-- Offcanvas Logo End -->
                <button type="button" class="close-btn" data-bs-dismiss="offcanvas"><i class="flaticon-close"></i></button>
            </div>

            <!-- Offcanvas Body Start -->
            <div class="offcanvas-body">
                <div class="offcanvas-menu offcanvas-menu-2">
                    <ul class="main-menu">
                        <li class="active-menu"><a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a class="active" href="index.html">Home 01</a></li>
                                <li><a href="index-2.html">Home 02</a></li>
                                <li><a href="index-3.html">Home 03</a></li>
                                <li><a href="index-4.html">Home 04</a></li>
                                <li><a href="index-5.html">Home 05</a></li>
                                <li><a href="index-6.html">Home 06</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="event-list.html">Event List</a></li>
                                <li><a href="event-single.html">Event Single</a></li>
                                <li><a href="schedule.html">Event Schedule</a></li>
                                <li><a href="speaker-one.html">Speakers 01</a></li>
                                <li><a href="speaker-two.html">Speakers 02</a></li>
                                <li><a href="speaker-single.html">Speaker Single</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="price.html">Pricing</a></li>
                                <li><a href="faq.html">FAQ's</a></li>
                                <li><a href="login-register.html">Login Register</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog Grid</a></li>
                                <li><a href="blog-standard.html">Latest News</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- Offcanvas Body End -->
        </div>
        <!-- Offcanvas End -->

        <!-- Page Banner Start -->
        <app-banner page="About event"></app-banner>
        <!-- Page Banner End -->

        <!-- About Section Start -->
        <div class="meeta-about-section section-padding">
            <div class="container">
                <div class="row">
                    <div *ngFor="let person of persons" class="col-lg-4 col-sm-6">
                        <!-- Event List Item Start -->
                        <div class="event-list-item">
                            <div class="event-img"><img [src]="person.photo ?? 'assets/images/event/event-list-1.jpg'" alt="">
                            </div>
                            <div class="event-list-content">
                                <div class="event-price">
                                    <span class="cat">{{person.title}}</span>
                                </div>
                                <h3 class="title"> {{person.name}} </h3>
                                <!-- <div class="meta-data">
                                    <span><i class="fas fa-map-marker-alt"></i> 1:00AM-2:00AM</span>
                                    <span><i class="fas fa-map-marker-alt"></i>    Sand diego, Canada</span>
                                </div> -->
                                <div class="event-desc">
                                    <p>{{person.description}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Event List Item End -->
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- About Section End -->