        <!-- Mini Cart Start -->
        <div class="off-canvas">
            <div class="icon-close"></div>

            <!-- Mini Cart Box Start -->
            <div class="meeta-mini-cart-box">

                <div class="mini-cart-items">

                    <div class="mini-cart-item">
                        <div class="mini-cart-item-image">
                            <a href="#"><img src="assets/images/cart/cart-1.jpg" alt="Cart"></a>
                        </div>
                        <div class="mini-cart-item-content">
                            <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden Livestream </a></h4>
                            <p class="mini-cart-quantity">1 × $19.99</p>
                        </div>
                        <button class="btn-close"></button>
                    </div>

                    <div class="mini-cart-item">
                        <div class="mini-cart-item-image">
                            <a href="#"><img src="assets/images/cart/cart-2.jpg" alt="Cart"></a>
                        </div>
                        <div class="mini-cart-item-content">
                            <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden Livestream </a></h4>
                            <p class="mini-cart-quantity">1 × $19.99</p>
                        </div>
                        <button class="btn-close"></button>
                    </div>

                    <div class="mini-cart-item">
                        <div class="mini-cart-item-image">
                            <a href="#"><img src="assets/images/cart/cart-3.jpg" alt="Cart"></a>
                        </div>
                        <div class="mini-cart-item-content">
                            <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden Livestream </a></h4>
                            <p class="mini-cart-quantity">1 × $19.99</p>
                        </div>
                        <button class="btn-close"></button>
                    </div>

                </div>

                <div class="mini-cart-sub-total">
                    <p><strong>Subtotal:</strong> <span class="mini-cart-amount">$99.97</span></p>
                </div>
                <div class="mini-cart-sub-btn">
                    <a class="btn btn-primary" href="#">View cart</a>
                    <a class="btn btn-white" href="#">Checkout</a>
                </div>
            </div>
            <!-- Mini Cart Box End -->

        </div>
        <!-- Mini Cart End -->


        <!-- Offcanvas Start-->
        <div class="offcanvas offcanvas-start" id="offcanvasExample">
            <div class="offcanvas-header">
                <!-- Offcanvas Logo Start -->
                <div class="offcanvas-logo">
                    <a href="index.html"><img src="assets/images/logo-4.png" alt=""></a>
                </div>
                <!-- Offcanvas Logo End -->
                <button type="button" class="close-btn" data-bs-dismiss="offcanvas"><i class="flaticon-close"></i></button>
            </div>

            <!-- Offcanvas Body Start -->
          <div class="offcanvas-body">
            <div class="offcanvas-menu">
              <ul class="main-menu">
                <li class="active-menu">
                  <a href="/home" routerLinkActive="activate-link">Home</a>
                </li>
                <li class="active-menu"><a href="/about" routerLinkActive="activate-link">About</a></li>
                <li class="active-menu"><a href="/hackathon"  routerLinkActive="activate-link">Hackathon</a></li>
                <li class="active-menu"><a href="/faq" routerLinkActive="activate-link">FAQ</a></li>
              </ul>
            </div>
          </div>
            <!-- Offcanvas Body End -->
        </div>
        <!-- Offcanvas End -->

        <!-- Page Banner Start -->
        <app-banner page="About event"></app-banner>
        <!-- Page Banner End -->

        <!-- About Section Start -->
        <div class="meeta-about-section section-padding">
            <div class="container">
                <div class="row">
                    <div *ngFor="let person of persons" class="col-lg-4 col-sm-6">
                        <!-- Event List Item Start -->
                        <div class="event-list-item">
                            <div class="event-img"><img [src]="person.photo ?? 'assets/images/event/event-list-1.jpg'" alt="">
                            </div>
                            <div class="event-list-content">
                                <div class="event-price">
                                    <span class="cat">{{person.title}}</span>
                                </div>
                                <h3 class="title"> {{person.name}} </h3>
                                <!-- <div class="meta-data">
                                    <span><i class="fas fa-map-marker-alt"></i> 1:00AM-2:00AM</span>
                                    <span><i class="fas fa-map-marker-alt"></i>    Sand diego, Canada</span>
                                </div> -->
                                <div class="event-desc">
                                    <p>{{person.description}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Event List Item End -->
                    </div>

                </div>
            </div>
        </div>
        <!-- About Section End -->
