@import  '../../styles.scss';

.meeta-video-section-2 .video-img .popup-video {
    background: $primary-color!important;
    color: #ffffff;
}

.single-speker-3 .speker-img a::before {
    background: $primary-color!important
}

.single-speker-3 .speker-img a::after {
    background: $primary-color!important
}