@import  '../../styles.scss';

.meeta-video-section-2 .video-img .popup-video {
    background: $primary-color!important;
    color: #ffffff;
}

.single-speker-3 .speker-img a::before {
    background: $primary-color!important
}

.single-speker-3 .speker-img a::after {
    background: $primary-color!important
}

.single-start .section-padding {
    padding-bottom: 0px!important;
}

.second-start .section-padding {
    padding-top: 50px!important;
}

.schedule .title {
    font-size: 30px;
    line-height: 1;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    color: #1a0a1e;
    margin-bottom: 30px;
}