
        <!-- Mini Cart Start -->
        <div class="off-canvas">
            <div class="icon-close"></div>

            <!-- Mini Cart Box Start -->
            <div class="meeta-mini-cart-box">

                <div class="mini-cart-items">

                    <div class="mini-cart-item">
                        <div class="mini-cart-item-image">
                            <a href="#"><img src="assets/images/cart/cart-1.jpg" alt="Cart"></a>
                        </div>
                        <div class="mini-cart-item-content">
                            <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden Livestream </a></h4>
                            <p class="mini-cart-quantity">1 × $19.99</p>
                        </div>
                        <button class="btn-close"></button>
                    </div>

                    <div class="mini-cart-item">
                        <div class="mini-cart-item-image">
                            <a href="#"><img src="assets/images/cart/cart-2.jpg" alt="Cart"></a>
                        </div>
                        <div class="mini-cart-item-content">
                            <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden Livestream </a></h4>
                            <p class="mini-cart-quantity">1 × $19.99</p>
                        </div>
                        <button class="btn-close"></button>
                    </div>

                    <div class="mini-cart-item">
                        <div class="mini-cart-item-image">
                            <a href="#"><img src="assets/images/cart/cart-3.jpg" alt="Cart"></a>
                        </div>
                        <div class="mini-cart-item-content">
                            <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden Livestream </a></h4>
                            <p class="mini-cart-quantity">1 × $19.99</p>
                        </div>
                        <button class="btn-close"></button>
                    </div>

                </div>

                <div class="mini-cart-sub-total">
                    <p><strong>Subtotal:</strong> <span class="mini-cart-amount">$99.97</span></p>
                </div>
                <div class="mini-cart-sub-btn">
                    <a class="btn btn-primary" href="#">View cart</a>
                    <a class="btn btn-white" href="#">Checkout</a>
                </div>
            </div>
            <!-- Mini Cart Box End -->

        </div>
        <!-- Mini Cart End -->


        <!-- Offcanvas Start-->
        <div class="offcanvas offcanvas-start" id="offcanvasExample">
            <div class="offcanvas-header">
                <!-- Offcanvas Logo Start -->
                <div class="offcanvas-logo">
                    <a href="index.html"><img src="assets/images/logo-4.png" alt=""></a>
                </div>
                <!-- Offcanvas Logo End -->
                <button type="button" class="close-btn" data-bs-dismiss="offcanvas"><i class="flaticon-close"></i></button>
            </div>

            <!-- Offcanvas Body Start -->
          <div class="offcanvas-body">
            <div class="offcanvas-menu">
              <ul class="main-menu">
                <li class="active-menu">
                  <a href="/home" routerLinkActive="activate-link">Home</a>
                </li>
                <li class="active-menu"><a href="/about" routerLinkActive="activate-link">About</a></li>
                <li class="active-menu"><a href="/hackathon"  routerLinkActive="activate-link">Hackathon</a></li>
                <li class="active-menu"><a href="/faq" routerLinkActive="activate-link">FAQ</a></li>
              </ul>
            </div>
          </div>
            <!-- Offcanvas Body End -->
        </div>
        <!-- Offcanvas End -->

        <!-- Page Banner Start -->
        <app-banner page="Hackathon"></app-banner>
        <!-- Page Banner End -->

        <!-- Event Single Start -->
        <div class="single-start">
            <div class="meeta-event-single section-padding">
                <div class="container">
                    <div class="meeta-event-single-wrap">
                        <div class="row">

                            <div class="col-lg-8">
                                <!-- Event Single Content Start -->
                                <div class="event-single-content">
                                    <!-- Video Start -->
                                    <div class="meeta-video-section-2">

                                        <div class="video-img text-center" style="background-image: url(assets/images/hackathon.jpeg);">
                                            <!-- Section Title Start -->
                                            <div class="meeta-section-title-2 section-title-4">
                                                <h2 class="main-title">Hackathon Adservio Group x ZUPdeCO 2023</h2>
                                            </div>
                                            <!-- Section Title End -->
                                            <a class="popup-video" href="https://www.youtube.com/watch?v=x8gpmEVwTXQ"><i class="fas fa-play"></i></a>
                                        </div>

                                    </div>
                                    <!-- Video End -->
                                    <p>We invite all developers, devops and students at the end of the cycle (5th year)
                                      to register for this great competition, during which, they will be subjected to a
                                      concrete business problem to solve in 4 hours of time. Several prizes are to be won,
                                      including permanent contracts with Parisian companies, Fintech,
                                      end-of-studies internships for students and a special bonus for the best team.
                                      Not to mention discount vouchers for Angular certification.</p>

                                    <div class="event-single-item">
                                        <h3 class="title">Event Sponsor</h3>
                                        <div class="meeta-event-sponsors-3">
                                            <!-- Sponsor Start -->
                                            <div class="meeta-sponsor-wrap">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-4">
                                                        <div class="meeta-sponsor-logo">
                                                            <a href="#"><img src="assets/images/adservio.png" alt=""></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-4">
                                                        <div class="meeta-sponsor-logo">
                                                            <a href="#"><img src="assets/images/sponsors-training.png" alt=""></a>
                                                        </div>
                                                    </div>
                                                  <div class="col-lg-3 col-sm-4">
                                                    <div class="meeta-sponsor-logo">
                                                      <a href="#"><img src="assets/images/paysika.png" alt=""></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                            <!-- Sponsor End -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Event Single Content End -->
                            </div>
                            <div class="col-lg-4">
                                <!-- Event Single Sidebar Start -->
                                <div class="event-single-sidebar">

                                    <div class="sidebar-item">

                                        <div class="event-details">
                                            <h3 class="sidebar-title">Details</h3>
                                            <ul>
                                                <li>
                                                    <h5 class="title">Start:</h5>
                                                    <p>October 30 @ 9:00 am</p>
                                                </li>
                                                <li>
                                                    <h5 class="title">End:</h5>
                                                    <p>October 30 @ 6:00 pm</p>
                                                </li>
                                                <li>
                                                    <h5 class="title">Location :</h5>
                                                    <p>Douala, Cameroon</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sidebar-item">
                                        <div class="event-map">
                                            <h3 class="sidebar-title">Location Map</h3>
                                            <div class="google-map">
                                                <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Mission%20District%2C%20San%20Francisco%2C%20CA%2C%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Event Single Sidebar End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Event Single End -->

        <div class="second-start">
            <div class="schedule-section section-padding">

                <div class="container schedule">
                    <h3 class="title">Program</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>Comming soon...</div>
                            <!-- Schedule Table Start -->
                            <!-- <div class="schedule-table table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="day"></th>
                                            <th class="day color-4">Sunday</th>
                                            <th class="day color-2">Monday</th>
                                            <th class="day color-3">Tuesday</th>
                                            <th class="day color-1">Wednesday</th>
                                            <th class="day color-2">Thursday</th>
                                            <th class="day color-4">Friday</th>
                                            <th class="day color-3">Saturday</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="hour">
                                                07:00
                                            </td>
                                            <td class="bg-1">
                                                <div class="schedule-text">
                                                    <span class="time">09AM-11AM</span>
                                                    <h3 class="title">Registration For Dance</h3>
                                                    <p>Netflix Studio</p>
                                                </div>
                                            </td>
                                            <td class="bg-2">

                                            </td>
                                            <td class="bg-4">
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hour">
                                                08:00
                                            </td>
                                            <td class="bg-3">
                                                <div class="schedule-text">
                                                    <span class="time">09AM-11AM</span>
                                                    <h3 class="title">Dance</h3>
                                                    <p>Netflix Studio</p>
                                                </div>
                                            </td>
                                            <td class="bg-4">
                                            </td>
                                            <td class="bg-1">
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hour">
                                                09:00
                                            </td>
                                            <td class="bg-2">
                                                <div class="schedule-text">
                                                    <span class="time">09AM-11AM</span>
                                                    <h3 class="title">Dance</h3>
                                                    <p>Netflix Studio</p>
                                                </div>
                                            </td>
                                            <td class="bg-3">
                                            </td>
                                            <td class="bg-4">
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hour">
                                                10:00
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hour">
                                                11:00
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
                            <!-- Schedule Table End -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

