<!-- Mini Cart Start -->
<div class="off-canvas">
  <div class="icon-close"></div>

  <!-- Mini Cart Box Start -->
  <div class="meeta-mini-cart-box">
    <div class="mini-cart-items">
      <div class="mini-cart-item">
        <div class="mini-cart-item-image">
          <a href="#"><img src="assets/images/cart/cart-1.jpg" alt="Cart" /></a>
        </div>
        <div class="mini-cart-item-content">
          <h4 class="mini-cart-title">
            <a href="#"
              >Virtual Event with Protected Content and Hidden Livestream
            </a>
          </h4>
          <p class="mini-cart-quantity">1 × $19.99</p>
        </div>
        <button class="btn-close"></button>
      </div>

      <div class="mini-cart-item">
        <div class="mini-cart-item-image">
          <a href="#"><img src="assets/images/cart/cart-2.jpg" alt="Cart" /></a>
        </div>
        <div class="mini-cart-item-content">
          <h4 class="mini-cart-title">
            <a href="#"
              >Virtual Event with Protected Content and Hidden Livestream
            </a>
          </h4>
          <p class="mini-cart-quantity">1 × $19.99</p>
        </div>
        <button class="btn-close"></button>
      </div>

      <div class="mini-cart-item">
        <div class="mini-cart-item-image">
          <a href="#"><img src="assets/images/cart/cart-3.jpg" alt="Cart" /></a>
        </div>
        <div class="mini-cart-item-content">
          <h4 class="mini-cart-title">
            <a href="#"
              >Virtual Event with Protected Content and Hidden Livestream
            </a>
          </h4>
          <p class="mini-cart-quantity">1 × $19.99</p>
        </div>
        <button class="btn-close"></button>
      </div>
    </div>

    <div class="mini-cart-sub-total">
      <p>
        <strong>Subtotal:</strong> <span class="mini-cart-amount">$99.97</span>
      </p>
    </div>
    <div class="mini-cart-sub-btn">
      <a class="btn btn-primary" href="#">View cart</a>
      <a class="btn btn-white" href="#">Checkout</a>
    </div>
  </div>
  <!-- Mini Cart Box End -->
</div>
<!-- Mini Cart End -->

<!-- Offcanvas Start-->
<div class="offcanvas offcanvas-start" id="offcanvasExample">
  <div class="offcanvas-header">
    <!-- Offcanvas Logo Start -->
    <div class="offcanvas-logo">
      <a href="index.html"><img src="assets/images/logo-4.png" alt="" /></a>
    </div>
    <!-- Offcanvas Logo End -->
    <button type="button" class="close-btn" data-bs-dismiss="offcanvas">
      <i class="flaticon-close"></i>
    </button>
  </div>

  <!-- Offcanvas Body Start -->
  <div class="offcanvas-body">
    <div class="offcanvas-menu">
      <ul class="main-menu">
        <li class="active-menu">
          <a href="/home" routerLinkActive="activate-link">Home</a>
        </li>
        <li class="active-menu"><a href="/about" routerLinkActive="activate-link">About</a></li>
        <li class="active-menu"><a href="/hackathon"  routerLinkActive="activate-link">Hackathon</a></li>
        <li class="active-menu"><a href="/faq" routerLinkActive="activate-link">FAQ</a></li>
      </ul>
    </div>
  </div>
  <!-- Offcanvas Body End -->
</div>
<!-- Offcanvas End -->

<!-- Page Banner Start -->
<app-banner page="Register"></app-banner>
<!-- Page Banner End -->

<!-- Login & Register Start -->
<div class="section login-register-section section-padding">
  <div class="container">
    <!-- Login & Register Wrapper Start -->
    <div class="login-register-wrap">
      <div class="row gx-5">
        <div class="col-lg-8 mx-auto">
          <!-- Login & Register Box Start -->
          <div class="login-register-box">
            <!-- Section Title Start -->
            <div class="section-title">
              <h2 class="title">Register Form</h2>
            </div>
            <!-- Section Title End -->

            <div class="login-register-form">
              <p class=" alert-danger">{{errorUpload}}</p>
              <h3 *ngIf="isSubmitSuccess">Thank you for enrolling in MKUTANO IT 2023. We will contact you very soon
                for the rest of the modalities </h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegisterForm()">
                 <div class="single-form">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="profilType"
                      formControlName="profilType"
                      id="typeStudent"
                      value="STUDENT"
                      (change)="profilChange($event)"
                    />
                    <label class="form-check-label" for="typeStudent"
                      >Student</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="profilType"
                      formControlName="profilType"
                      id="typeWorker"
                      value="WORKER"
                      (change)="profilChange($event)"
                    />
                    <label class="form-check-label" for="typeWorker"
                      >Worker / Employee / Entrepreneur</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="profilType"
                      formControlName="profilType"
                      id="typeCompany"
                      value="COMPANY"
                      (change)="profilChange($event)"
                    />
                    <label class="form-check-label" for="typeCompany">
                      Startup / Company
                    </label>
                  </div>
                </div>
                <div class="single-form" *ngIf="isStartup ||isWorker || isStudent">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="firstName"
                    placeholder="Firstname *"
                  />
                </div>
                <div class="single-form" *ngIf="isStartup ||isWorker || isStudent">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="lastName"
                    placeholder="Lastname *"
                  />
                </div>
                <div class="single-form" *ngIf="isStartup ||isWorker || isStudent">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="phoneNumber"
                    placeholder="Phone Number *"
                  />
                </div>
                <div class="single-form" *ngIf="isStartup ||isWorker || isStudent">
                  <input type="text" class="form-control" formControlName="mail" placeholder="Email *" />
                </div>
                <div class="single-form">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="country"
                    placeholder="Country *"
                  />
                </div>
                <!-- student -->
                <div class="single-form" *ngIf="isStudent">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="school"
                    placeholder="School *"
                  />
                </div>
                <!-- Work -->
                <div class="single-form" *ngIf="isWorker">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="profession"
                    placeholder="Profession *"
                  />
                </div>
                <div class="single-form" *ngIf="isWorker">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nbreYearExp"
                    placeholder="Number of years of experience *"
                  />
                </div>
                <!-- startup -->
                <div class="single-form" *ngIf="isStartup">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nameOfStartup"
                    placeholder="Name of your startup *"
                  />
                </div>
                <div class="single-form" *ngIf="isStartup">
                  <input
                    type="text"
                    class="form-control ng-valid"
                    formControlName="numberOfEmp"
                    placeholder="Number of employees *"
                  />
                </div>
                <div class="single-form" *ngIf="isStartup">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="coreBuss"
                    placeholder="core business *"
                  />
                </div>
                <div class="single-form" *ngIf="isStartup ||isWorker || isStudent">
                  <div>
                    <label for="formFile" class="form-label"
                      >Upload Resume (only PDF) *</label
                    >
                    <input class="form-control" type="file" (change)="onDetectFile($event)" accept="application/pdf"
                           id="formFile" />
                  </div>
                </div>
<!--                <div class="single-form form-check">-->
<!--                  <input-->
<!--                    class="form-check-input"-->
<!--                    type="checkbox"-->
<!--                    value=""-->
<!--                    id="flexCheckDefault"-->
<!--                  />-->
<!--                  <label class="form-check-label" for="flexCheckDefault"-->
<!--                    >I agree to the terms and conditions.</label-->
<!--                  >-->
<!--                </div>-->
                <div class="form-btn">
                  <p>Fields marked with an asterisk (*) are obligatory</p>
                  <button class="btn-2" type="submit" [disabled]="(registerForm.invalid || !imgAlreadyLoad)">
                    Submit</button>
                </div>
              </form>
            </div>
          </div>
          <!-- Login & Register Box End -->
        </div>
      </div>
    </div>
    <!-- Login & Register Wrapper End -->
  </div>
</div>
<!-- Login & Register End -->
