@import  '../../styles.scss';

.page-banner-section::before {
    background-color: $primary-color-hover!important;
}

.faq-accordion .accordion-item .accordion-header .accordion-button .faq-button {
    color: $title-color;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948!important; /* green */
}
